<%= form_tag embed_player_path, id: "embed-player-form", remote: true, :method => 'get' do %>
	<span style="display:none"><%= text_field_tag :embed_url, params[:embed_url], id: "embed-url-input" %></span>
	<%= submit_tag "Embed this video", :name => nil, id: "player-embed-btn" %>
<% end %>