<div id="footer">
    <div class="row">
        <div class="large-4 column">
        	<h2 id="site-name" class="fat">Parasite.tv</h2>
        	<h4 class="center-lead marvel">'da pirates helm, ahoy me maties!'</h4>
            <p class="center-auth">Created by <a href="https://twitter.com/WEBrip", target="none">Skull Boy</a>
            <br>
            <p id="conditions-footer">Disclaimer: This site does not store any video files on its server. All contents are provided by non-affiliated third parties.</p>
            <i class="fa fa-copyright" aria-hidden="true"> 2017 Michael Devenport.</i>
        </div>
        <div class="large-8 column">
        	<div class="bad-ruby">
        		<%= image_tag("bad-bot.png", size: "150x150") %>
        		<br>
        		<p>..developed in Bad Ruby!</p>
                <p><%= link_to 'Logout', logout_path, id: "logout-btn", class: "auth" %></p>
        	</div>   
        </div>
    </div>
</div>